version: "2.1"
services:
  database:
    image: mysql
    environment:
      MYSQL_USER : hazel
      MYSQL_DATABASE: test
      MYSQL_PASSWORD: hazel
      MYSQL_ROOT_PASSWORD: hazel
    ports:
      - "3307:3306"

  application:
    build: .
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://database:3306/test
      SPRING_DATASOURCE_USERNAME: hazel
      SPRING_DATASOURCE_PASSWORD: hazel
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - database